.left-area {
    background-color: white;
    position: relative;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 0px;
}

.left-area::after {
    content: " ";
    position: absolute;
    left: -10%;
    top: -5%;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    filter: blur(10px);
    opacity: 0.2;
    background-color: #ff7b01;
}

.left-area::before {
    content: " ";
    position: absolute;
    right: 10%;
    bottom: -20%;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    filter: blur(10px);
    opacity: 0.2;
    background-color: #ff7b01;
}

.right-area {
    background: linear-gradient(to bottom, #e9fcff, #dbe1ff);
    display: flex;
    align-items: center;
    justify-content: center;
}


.right-area .login-box {
    width: 50%;
    height: 70%;
    min-height: 50%;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-area .login-box form {
    width: 100%;
    height: fit-content;
}

.right-area .login-box .heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}


/* Register */
.register-box {
    width: 70%;
    height: fit-content;
    padding: 30px;
    background-color: white;
    border-radius: 0.5em;
}

.profile-image {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}



label#profile-picture {
    border: 1px solid #AEAEAE;
    height: fit-content;
    padding: 8px 20px;
    border-radius: 0.2em;
    opacity: 0.7;
    transition: all ease-in 0.1s;
}

label#profile-picture:hover {
    opacity: 1;
    cursor: pointer;
}

label#profile-picture input {
    display: none;
}