*, p {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}


:root {
    --primary-color : #0D1282;
    --secondary-color: #BEDCFF;
}

.section {
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.footer {
    height: 300px !important;
    width: 100%;
    background-color: #03396B;
    border-top-left-radius: 5em;
    border-top-right-radius: 5em;
    padding: 3em;
}


.gradient-background {
    background: linear-gradient(to bottom, #E9FCFF, #DBE1FF);
}


/* Override */


.bg-primary {
    background-color: var(--primary-color) !important;
}

.bg-secondary {
    background-color: var(--secondary-color) !important;
}

.form-label {
    font-size: 13px;
    opacity: 0.6;
    font-weight: 500;
}

.form-control {
    font-size: 16px;
}

.form-control::-ms-input-placeholder { /* Edge 12-18 */
    color: #5E5E5E;
    opacity: 0.6;
}
  
.form-control::placeholder {
    color: #5E5E5E;
    opacity: 0.6;
}

.btn.btn-primary {
    width: 100%;
    border-width: 1;
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    font-size: 17px;
    font-weight: 700;
    border-radius: 4px;
}

.btn.btn-link {
    color: var(--primary-color) !important;
}

.btn.btn-primary-outline {
    width: 100%;
    border-width: 1;
    border-color: var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
    font-size: 17px;
    font-weight: 700;
    border-radius: 4px;
}

/* TYPOGRAPHY */
.primary {
    color: var(--primary-color);
}

.opacity-60 {
    opacity: 0.6;
}

.headline-1 {
    margin: 0;
    padding: 0;
    font-size: 47.78px;
}

.headline-2 {
    margin: 0;
    padding: 0;
    font-size: 39.81px;
}

.headline-3 {
    margin: 0;
    padding: 0;
    font-size: 33.18px;
}

.headline-4 {
    margin: 0;
    padding: 0;
    font-size: 27.65px;
}

.headline-5 {
    margin: 0;
    padding: 0;
    font-size: 23.04px;
}

.headline-6 {
    margin: 0;
    padding: 0;
    font-size: 19.2px;
}

.paragraph {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.small-text {
    margin: 0;
    padding: 0;
    font-size: 13.33px;
}

.tiny-text {
    margin: 0;
    padding: 0;
    font-size: 10.42px;
}

.orange-label {
    color: white;
    background-color: #FF7B01;
    padding: 6px 20px;
    border-radius: 2px;
    font-weight: 600;
}


/* NAVBAR */
.navbar {
    height: 80px !important;
    background-color: white;
    background: linear-gradient(to bottom, "#FFFFFF", "#FAFAFA") !important;
    box-shadow: -4px 10px 15px -13px rgba(0,0,0,0.1);
    z-index: 200;
}

.navbar .container-fluid {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .navbar .nav-item .nav-link.active {
    background-color: #C4DFFF;
  }



  /* MOBILE */

  @media (max-width: 767px) {
    .headline-1 {
        font-size: 33px;
    }

    .headline-2 {
        font-size: 26px;
    }

    .footer {
        border-radius: 0.2em;
    }
  }